.container {
  /* max-width: 1920px; */

  margin: 0 auto;
  /* padding: 1rem; */

  /* border: solid aqua 2px; */
}

div img {
  color: #0ab1ba;
  height: 60px;
  cursor: pointer;

  /* border: solid red 2px; */
}

.barre {
  padding-left: 30px;
  color: #dcddde;
  height: 39px;
  width: 630px;
  border-radius: 5px;
  background-color: #f5f6f7;
  margin-left: 50px;
}

.header-container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin: auto;
  padding: 10px 0;
  /* border: solid black 2px; */
  width: 1280px;
}

.inscription {
  color: #2cb1ba;
  height: 28px;
  width: 113px;
  font-size: 12px;
  /* border: solid yellow 2px; */
  background-color: white;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  cursor: pointer;
}
.connect {
  color: #2cb1ba;
  /* border: solid yellow 2px; */
  font-size: 12px;
  height: 28px;
  width: 113px;
  background-color: white;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  cursor: pointer;
}
.twobutton {
  display: flex;
  justify-content: space-around;
  width: 300px;
  /* border: solid black 3px; */
}

.button3 {
  font-size: 12px;
  color: white;

  height: 28px;
  width: 113px;
  background-color: #2cb1ba;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.home-card {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto auto;
  width: 1330px;
}

.home-img {
  background-image: url(src/assets/imgs/lol.jpg);
  background-position: 50%;
  background-size: cover;
  height: 455px;

  width: 100%;
}
.test {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* border: solid blue 2px; */
  margin-top: 25px;
  margin-left: 25px;
}
.test img {
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

span.username {
  color: #999;
  font-size: 12px;
}
span {
  font-size: 12px;
  color: #9999;
}

.username {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}

.caroussel img {
  width: 235px;
  height: 360px;
  padding: 10px;
}
.pricehome {
  color: #111;
  font-size: 16px;
}

li > p {
  font-size: 12px;
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

main {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  margin: 0 auto;
  padding: 30px;
  width: 1280px;
}
main img {
  height: 605px;
  width: 456px;
  object-fit: cover;
}

.prix {
  color: #111;
  font-size: 24px;
  line-height: 32px;
}
.offer-infos {
  border: solid black 2px;
  width: 320px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 40px;
}

li {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* padding: 2px 0; */
}

.detailss {
  display: flex;
}

/* CSS pour Signup */
.signuppage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.signuppage > h1 {
  font-size: 24px;
}
.signupform {
  margin: auto;
  width: 275px;
  display: flex;
  flex-direction: column;
}
.signupform > input {
  border: none;
  border-bottom: 1px solid #fcced3;
  height: 35px;
  margin-bottom: 20px;
}
.checkboxform > input {
  margin-top: 20px;
  display: flex;
  height: 21px;
  width: 21px;
  cursor: pointer;
  border-radius: 5px;
}
.checkboxform {
  width: 300px;
  height: 100px;

  display: flex;
}
.checkboxform > span {
  font-size: 16px;
  color: #666;
  margin-top: 23px;
  margin-left: 10px;
}
.titre {
  font-size: 25px;
}

input {
  height: 30px;
  border: none;
}
.clic button {
  margin-top: 20px;
  background-color: #2cb1ba;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  height: 45px;
  margin-top: 20px;
  outline: none;
  width: 100%;
  cursor: pointer;
}

.sousphrase {
  color: #999;
  font-size: 12px;
  text-align: left;
  /* border: solid 2px black; */
  padding-bottom: 30px;
}
a {
  font-size: 12px;
  color: #2cb1ba;
  text-decoration: none;
}

/* CSS POUR LOGIN */
.login-container {
  width: 400px;
  height: 300px;
}

.login-block {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin: auto;
  width: 275px;
}

.log-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  justify-content: center;
}
.login-block > input {
  border: none;
  border-bottom: 1px solid #fcced3;
  height: 35px;
  margin-bottom: 20px;
  outline: none;
}

.log-button {
  display: flex;
  justify-content: center;

  margin-top: 20px;
  background-color: #2cb1ba;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  height: 45px;
  margin-top: 20px;
  outline: none;
  width: 100%;
  cursor: pointer;
}
.log-link {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
