.container {
  /* max-width: 1920px; */
  width: 1280px;
  margin: 0 auto;
  /* padding: 1rem; */

  border: solid aqua 2px;
}

div img {
  color: #0ab1ba;
  height: 60px;
  /* border: solid red 2px; */
}

.barre {
  padding-left: 30px;
  color: #dcddde;
  height: 39px;
  width: 630px;
  border-radius: 5px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 10px 0;
  /* border: solid black 2px; */
  width: 1280px;
}

.inscription {
  color: #2cb1ba;
  height: 28px;
  width: 113px;
  font-size: 12px;
  /* border: solid yellow 2px; */
  background-color: white;
  border-color: #2cb1ba;
  border-radius: 5px;
}
.connect {
  color: #2cb1ba;
  /* border: solid yellow 2px; */
  font-size: 12px;
  height: 28px;
  width: 113px;
  background-color: white;
  border-color: #2cb1ba;
  border-radius: 5px;
}
.twobutton {
  display: flex;
  justify-content: space-around;
  width: 300px;
  /* border: solid black 3px; */
}

.button3 {
  font-size: 12px;
  color: white;

  height: 28px;
  width: 113px;
  background-color: #2cb1ba;
  border: none;
  border-radius: 5px;
}

.home-img {
  background-image: url(src/assets/imgs/lol.jpg);
  background-position: 50%;
  background-size: cover;
  height: 455px;

  width: 100%;
}
.test {
  display: flex;
  flex-wrap: wrap;
  border: solid blue 2px;
}
